@import "../../app/styles/variables";

header {
    background-color: $bg-color;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        cursor: pointer;
    }
}