@import "../../../app/styles/variables";

.category {
    &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 45px 0;

        h2 {
            color: $black-color;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}